.Favorites {
    height: 812px;
    width: 375px;
    background-color: orange;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
	align-content: stretch;
}