.Keypad {
    height: 812px;
    width: 375px;
    background-color: blue;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    
    #keypad-buttons {
        width: 100%;
 

        #first-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }

        #second-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }

        #third-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }

        #fourth-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }

        #fifth-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }
    }

    .keypad-button {
        height: 64px;
        width: 64px;
        border-radius: 30px;
        background-color: snow;
    }
}