.Keypad {
    height: 812px;
    width: 375px;
    background-color: blue;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
    align-content: stretch;
    
    #keypad-buttons {
        width: 100%;
      

        #first-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
            align-content: stretch;
            margin-bottom: 10px;
        }

        #second-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
            align-content: stretch;
            margin-bottom: 10px;
        }

        #third-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
            align-content: stretch;
            margin-bottom: 10px;
        }

        #fourth-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
            align-content: stretch;
            margin-bottom: 10px;
        }

        #fifth-row {
            display: flex;
	        flex-direction: row;
	        flex-wrap: nowrap;
	        justify-content: center;
	        align-items: center;
	        align-content: stretch;
        }
    }

    .keypad-button {
        height: 80px;
        width: 80px;
        border-radius: 50px;
        background-color: snow;
        font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: stretch;

        h1 {
            font-size: 26px;
        }
    }

    .phone-dock-pair {
        display: flex;
	    flex-direction: column;
	    flex-wrap: nowrap;
	    justify-content: center;
	    align-items: center;
	    align-content: stretch;
    }

    .first-column {
        margin-right: 20px;
    }

    .second-column {
        margin-right: 20px;
    }

    #first-row-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin-bottom: 3px;
    }

    #second-row-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin-bottom: 3px;
    }

    #third-row-icon {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        align-content: stretch;
        margin-bottom: 3px;
    }

    #commit-call {
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,187,44,1) 0%, rgba(99,248,125,1) 89.7% );
        display: flex;
        justify-content: center;
        align-items: center;
        transform: rotate(-10deg);
    }
}