.Dock {
    width: 90%;
    height: 10%;
    background-color: white;
    opacity: 70%;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
    #Phone {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}