.Dock {
    width: 90%;
    height: 10%;
    background-color: gray;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
    #Phone {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,187,44,1) 0%, rgba(99,248,125,1) 89.7% );
    }

    #Message {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,187,44,1) 0%, rgba(99,248,125,1) 89.7% );
    }

    #browser {
        background-color: #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        #browserCircle {
            width: 88%;
            height: 88%;
            background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(26,191,251,1) 0%, rgba(27,127,243,1) 90% );
            border-radius: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            #radialDial {
                width: 100%;
                height: 10px;
                transform: rotate(-45deg);
                display: flex;
	            flex-direction: row;
	            flex-wrap: nowrap;
	            justify-content: space-between;
	            align-items: center;
	            align-content: stretch;
                

                #upperRadial {
                    position: relative;
                    left: 7px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 5px 24px 5px;
                    border-color: transparent transparent white transparent;
                    transform: rotate(-90deg);
                }

                #lowerRadial {
                    position: relative;
                    right: 7px;
                    width: 0;
                    height: 0;
                    border-style: solid;
                    border-width: 0 5px 24px 5px;
                    border-color: transparent transparent red transparent;
                    transform: rotate(90deg);
                }

            }

            .book-end {
                width: 100%;
                height: 10px;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: center;
                align-items: center;
                align-content: stretch;
            }
            
        }

    }

}