.Dock {
    width: 90%;
    height: 10%;
    background-color: white;
    border-radius: 20px;
    margin-bottom: 15px;
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
    align-content: stretch;
    
    #Phone {
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(14,187,44,1) 0%, rgba(99,248,125,1) 89.7% );
    }
}