.Lock {
    height: 812px;
    width: 375px;
    // background-color: red;
    border-radius: 30px;
    background-image: url('../../assets/iphone_background.png');
    background-size: contain;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

    #notchArea{
        color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
        position: relative;
        bottom: 75px;
    }

    .lockTime {
        color: white;
        position: relative;
        bottom:170px;
        font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";

        #time {
            font-size: 64px;
            margin-bottom: 10px;
        }

        #date{
            font-size: 18px;
        }
    }

    #chinBar{
        background-color: white;
        width: 40%;
        height: 10px;
        border-radius: 5px;
        position: relative;
        top: 50px;
    }


    #cameraAndLight {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        top: 150px;

        #camera{
            height: 50px;
            width: 50px;
            background-color: lightgrey;
            border-radius: 40px;
            position: relative;
            left: 10px;
        }

        #flashlight{
            height: 50px;
            width: 50px;
            background-color: lightgrey;
            border-radius: 40px;
            position: relative;
            right: 10px;
        }
    }
}