.Lock {
    height: 812px;
    width: 375px;
    // background-color: red;
    border-radius: 30px;
    background-image: url('../../assets/iphone_background.png');
    background-size: contain;
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: space-around;
	align-items: center;
	align-content: stretch;

    #notchArea{
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-family: system, -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Lucida Grande";
        position: relative;
        width: 100%;
        bottom: 55px;
        #carrier{
            margin-left: 15px;
        }

        #status {
            margin-right: 10px;
            width: 30%;
            
            #wifi{
                height: 24px;
                width: 24px;
                margin-right: 5px;
            }

            #cell{
                height: 24px;
                width: 24px;
                margin-right: 5px;
            }
            #battery{
                transform: rotate(90deg);
                height: 24px;
                width: 24px;
            }
        }
    }

    .lockTime {
        color: white;
        position: relative;
        bottom:100px;
        font-family: system, -apple-system, BlinkMacSystemFont,
        "Helvetica Neue", "Lucida Grande";

        #time {
            font-size: 64px;
            margin-bottom: 10px;
        }

        #date{
            font-size: 18px;
        }
    }

    #chinBar{
        background-color: white;
        width: 40%;
        height: 10px;
        border-radius: 5px;
        position: relative;
        top: 50px;
    }


    #cameraAndLight {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        position: relative;
        top: 140px;

        #camera{
            height: 50px;
            width: 50px;
            background-color: grey;
            border-radius: 40px;
            opacity: 95%;
            position: relative;
            left: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        
        #flashlight{
            transform: rotate(-90deg);
            height: 50px;
            width: 50px;
            background-color: grey;
            opacity: 95%;
            border-radius: 40px;
            position: relative;
            right: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}