.Voicemail {
    height: 812px;
    width: 375px;
    background-color: gray;
    border-radius: 30px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}